* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  top: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.navbar {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#eecda3), to(#ef629f));
  background: linear-gradient(to right, #eecda3, #ef629f);
  padding: 0 2rem 0 2rem;
  -webkit-box-shadow: #bebebe 0 0 10px 5px;
          box-shadow: #bebebe 0 0 10px 5px;
}

.navbar h1 {
  font-family: 'Poppins', sans-serif;
  font-family: "Poppins", sans-serif;
  color: white;
}

.navbar h1 a {
  text-decoration: none;
  font-style: none;
  color: white;
  white-space: nowrap;
}

.navbar ul {
  margin-left: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  margin: 0 10px 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.707);
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.navbar ul li a:hover {
  color: #bf2197;
}

.navbar .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logout a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #3e137b;
  text-decoration: none;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

.navbar .logout a:hover {
  color: white;
  text-decoration: none;
}

.content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.post {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.post header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
}

.post header .profilepic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 6rem;
}

.post header .metainfo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem 0 1rem;
}

.post header .metainfo h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

.post header .metainfo h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #858585;
  font-size: 1rem;
}

.post header .profile {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  border: solid #df0161 2px;
}

.post header .profile a {
  color: #df0161;
}

.post .post_content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.card .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.card .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  overflow: hidden;
  border-radius: 1rem;
}

.card .image img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  border-radius: 15px 15px 15px 0;
  -webkit-box-shadow: rgba(128, 128, 128, 0.522) 3px 3px 2rem;
          box-shadow: rgba(128, 128, 128, 0.522) 3px 3px 2rem;
}

.tags {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  padding: 6px;
  z-index: 1000;
}

.tags .tag {
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  margin-bottom: 3px;
  border-radius: 8px;
  color: black;
  border: solid black 3px;
  -webkit-box-shadow: 0px 0px 1rem rgba(255, 255, 255, 0.535);
          box-shadow: 0px 0px 1rem rgba(255, 255, 255, 0.535);
}

.discover {
  width: 80%;
}

.discover h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}

.discover h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.discover .category {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.discover .category .card {
  width: 30%;
  margin-right: 2rem;
}

.search {
  width: 80%;
  border: solid black 3px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  background: #2457e4;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px 1rem 8px 1rem;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

button a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:active {
  outline: none;
  -moz-outline-radius: 3px;
}

button:hover {
  background: #0e3cbb;
  outline: none;
  cursor: pointer;
}

button:hover a {
  color: inherit;
}

button:focus {
  outline: solid 3px #0000ab;
}

button.btn-info {
  background: #0080ff;
  background: -webkit-gradient(linear, right top, left top, color-stop(40%, #ffffff), color-stop(45%, #4ebeee), color-stop(55%, rgba(36, 87, 228, 0)));
  background: linear-gradient(to left, #ffffff 40%, #4ebeee 45%, rgba(36, 87, 228, 0) 55%);
  background-size: 250% 100%;
  background-position-x: 99%;
  border: solid 3px white;
  -webkit-box-shadow: #c9c9c9 0px 0px 4px;
          box-shadow: #c9c9c9 0px 0px 4px;
  color: #2457e4;
  padding: 3px;
}

button.btn-info:hover {
  background-position-x: 1%;
  color: white;
  border-color: #2457e4;
  border: solid 3px white;
}

button.btn-info:active {
  background-position-x: 1%;
  background: white;
  border: solid black 2px;
  color: black;
  border-color: #2457e4;
}

button.btn-info:focus {
  outline: none;
  background-position-x: 1%;
  background: none;
  border: solid black 3px;
  color: black;
}

button.btn-alternate {
  border-color: white;
}

button.btn-alternate:hover {
  background: white;
}

button.btn-danger {
  color: white;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, red), color-stop(65%, black));
  background: linear-gradient(to right, red 55%, black 65%);
  background-size: 300% 100%;
  background-position-x: 99%;
}

button.btn-danger:hover {
  background-position-x: 1%;
  color: white;
}

button.btn-danger:active {
  background-position-x: 1%;
}

button.btn-danger:focus {
  outline: none;
}

button.btn-confirm {
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #00ca65), color-stop(60%, #31c7d8), to(#14d8a7));
  background: linear-gradient(to right, #00ca65 55%, #31c7d8 60%, #14d8a7);
  background-size: 250% 100%;
  background-position-x: 99%;
  padding: 10px;
}

button.btn-confirm:hover {
  background-position-x: 1%;
}

button.btn-confirm:active {
  background: #0aad30;
}

button.btn-confirm:focus {
  background: none;
}

button.btn-cancel {
  color: black;
  background: white;
  border: solid black 2px;
  border-radius: 3px;
}

button.btn-cancel:hover {
  border: solid black 3px;
  outline: none;
  color: white;
  background: black;
}

button.btn-cancel:active {
  background-position-x: 1%;
}

button.btn-cancel:focus {
  outline: none;
}

button.btn-search {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: white;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#088bc7), color-stop(60%, #31c7d8), to(#14d8a7));
  background: linear-gradient(to right, #088bc7, #31c7d8 60%, #14d8a7);
  border-radius: 5rem;
}

button.btn-search:hover {
  background: #e4dd07;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.btn-search:active {
  background: #e0d909;
}

button.btn-search:focus {
  background: #c9c309;
}
/*# sourceMappingURL=base.css.map */