{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/staff.css' %}">
<title>Dashboard</title>
{% endblock %}

{% block content %}
<div class="discover">
    <h1>Search Users</h1>
    <form method='get' id='search'>
        {% csrf_token %}
        {{customerFilter.form}}
        <button class='btn btn-search'  type='submit'>Search</button>
    </form>

    <table style="border: solid black 2px; width: 100%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <tr style="width: 100%; background: teal;">
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

        <tr style="width: 100%; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        {% for customer in customers %}
            <td>{{customer.username}}</td>
            <td>{{customer.first_name}}</td>
            <td>{{customer.last_name}}</td>
        {% endfor %}
        </tr>
    </table>
    <hr>
    
</div>
{% endblock %}